<!DOCTYPE html>
<html>
  <head>
    <title>Maptek Hiring</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
<div>
  <%= image_tag("logos/Maptek_logo.png") %>
  <%= link_to "  <p style='color: white;'>Home</p>
".html_safe, root_path %>

  <%= link_to "https://www.maptek.com/about_maptek/index.html" do %>
  <p style='color: white;'>About us</p>
    <%end %>

   <%= link_to "<p style='color: white;'>Contact us</p>
".html_safe,"https://www.maptek.com/contact/index.html/" %>

8888888888888

  <%#= form_tag("/search", method: "get") do %>
    <%#= label_tag(:q, "Search for:") %>
    <%#= text_field_tag(:q) %>
    <%#= submit_tag("Search") %>
  <%# end %>
</div>
  <%= yield %>
  </body>
</html>
